/* reset */


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
  }
  
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
  
  body { line-height: 1 }
  
  ol, ul { list-style: none }
  
  blockquote, q { quotes: none }
  
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0
  }
  
  *, *:before, *:after { box-sizing: border-box; }
  
  html, body { height: 100%; }
  
  body {
    color: #222;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #fafafa;
  }




.container{
    text-align: center;
  }
  .box{
    background-color: #f5f5f3;
    width: 150px;
    height: 200px;
    text-align: center;
    padding: 20px 0;
    margin: 20px;
    box-sizing: border-box;
    display: inline-block;
    box-shadow: 5px 5px 15px #ccc;
    font-family: arial, helvetica, sans-serif;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .box * {
    font-family: inherit;
  }
  .box:hover{
    transform: scale(1.1);
  }
  .temp{
    font-size: 30px;
    font-weight: bold;
  }
  .deg{
    position: relative;
    bottom: 10px;
    font-size: 15px;
  }
  .weather-icon{
    display: block;
    margin: auto;
  }
  .day{
    font-size: 18px;
    font-weight: bold;
  }
  .location{
    color: #8a2be2;
  }
  #heading{
    font-size: 50px;
    padding: 50px 0;
  }


table { 
    width: 750px; 
    border-collapse: collapse; 
    margin:50px auto;
}

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: #eee; 
	}

th { 
	background: #3498db; 
	color: white; 
	font-weight: bold; 
	}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 12px;
	}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table { 
	  	width: 100%; 
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}

	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		/* Label the data */
		content: attr(data-column);

		color: #000;
		font-weight: bold;
	}

}